{{ block title }}
    Instrucciones
{{ endblock }}

{{ block content }}
    
        <p>¡Bienvenido/a! </p>

        {{if app_name == 'public_goods_simple_BL1' }}
        <p>En la presente sección del experimento, participarás en un juego de bienes públicos. Se formarán grupos de 4 participantes de manera aleatoria, donde uno tomará el rol del funcionario público, mientras que los otros tres serán ciudadanos. Los roles también serán asignados de manera aleatoria. </p>
        <p>El juego se presenta de la siguiente manera. A los ciudadanos se les asignará una cantidad inicial de recursos (500 puntos) para contribuir a un bien público. Estos decidirán si contribuir o no al bien público con la cantidad que deseen. Luego, el funcionario público multiplicará por 3 todos los recursos contribuidos por los participantes. Finalmente, la suma total será distribuirá equitativamente por el funcionario entre todos los participantes, independientemente de cuánto contribuyeron individualmente.</p>
        {{endif}}
        

        {{if app_name == 'public_goods_simple_BL2' }}
        <p>En la presente sección del experimento, participarás en un juego bienes públicos. Se formarán grupos de 4 participantes de manera aleatoria, donde uno tomará el rol del funcionario público, mientras que los otros tres serán ciudadanos. Los roles también serán asignados de manera aleatoria. </p>
        <p>El juego se presenta de la siguiente manera. A los ciudadanos se les asignará una cantidad inicial de recursos para contribuir al sector público. Estos decidirán si contribuir o no al bien público con la cantidad que deseen. Luego, el funcionario público multiplicará por 3 todos los recursos contribuidos por los participantes. Finalmente, la suma total será distribuida de manera discrecional por el funcionario entre todos los participantes, independientemente de cuánto contribuyeron individualmente.</p>
        {{endif}}


        {{if app_name == 'public_goods_simple_T1' }}
        <p>En la presente sección del experimento, participarás en un juego bienes públicos. Se formarán grupos de 4 participantes de manera aleatoria, donde uno tomará el rol del funcionario público, mientras que los otros tres serán ciudadanos. Los roles también serán asignados de manera aleatoria. Todos los jugadores podrán interactuar privadamente enviando mensajes a través de un chat y realizando transferencias privadas de recursos si así lo desean.</p>
        <p>A los ciudadanos se les asignará una cantidad inicial de recursos para contribuir al sector público. Estos decidirán si contribuir o no al bien público con la cantidad que deseen. Luego, el funcionario público multiplicará por 3 todos los recursos contribuidos por los participantes. Finalmente, la suma total será distribuirá equitativamente por el funcionario entre todos los participantes, independientemente de cuánto contribuyeron individualmente.</p>
        {{endif}}
        
                
        {{if app_name == 'public_goods_simple_T2' }}
        <p>En la presente sección del experimento, participarás en un juego bienes públicos. Se formarán grupos de 4 participantes de manera aleatoria, donde uno tomará el rol del funcionario público, mientras que los otros tres serán ciudadanos. Los roles también serán asignados de manera aleatoria. Todos los jugadores podrán interactuar privadamente enviando mensajes a través de un chat y realizando transferencias privadas de recursos si así lo deseas.</p>
        <p>A los ciudadanos se les asignará una cantidad inicial de recursos para contribuir al sector público. Estos decidirán si contribuir o no al bien público con la cantidad que deseen. Luego, el funcionario público multiplicará por 3 todos los recursos contribuidos por los participantes. Finalmente, la suma total será distribuida de manera discrecional por el funcionario entre todos los participantes, independientemente de cuánto contribuyeron individualmente.</p>
        {{endif}}
        
        
        
        
        
        
        <p>Al funcionario también se le asignará una dotación inicial de {{ endowment_izquierda }} puntos.</p>

    
    {{ next_button }}
    
{{ endblock }}
