<p>
    Este es el <b>bloque {{ participant.segment }}</b>, como se mencionó anteriormente, vas a ser asignado a uno de dos roles: <b>ciudadano o funcionario</b>. En este bloque, hay un total de <b>{{ session.config.num_rounds }} rondas</b> de interacción. Abajo detallamos las reglas de la interacción y el cálculo de los puntos en cada ronda.
</p>

<ol>
    <li>
        Los participantes reciben su dotación inicial:
        <ol type="a">
            <li>Cada ciudadano recibe <b>{{ C.CITIZEN_ENDOWMENT }} puntos</b>.</li>
            <li>El funcionario recibe <b>{{ session.config.officer_endowment }} puntos</b>.</li>
        </ol>
    </li>
    <li>
        A continuación, 
        {{ if participant.treatment in ['BL1', 'BL2'] }}
            los ciudadanos y el funcionario tomarán decisiones en lo que llamaremos <b>interacción pública</b>.
        {{ else }}
            los ciudadanos y el funcionario pueden interactuar de dos formas en simultáneo: <b>interacción privada</b> e <b>interacción pública</b>. 
    </li>
    <li>
        <b>Interacción Privada</b>: Cada ciudadano puede interactuar con el funcionario a través de un chat privado y enviar/solicitar puntos en privado. De igual forma el funcionario puede interactuar con todos los ciudadanos en privado.
    </li>
    <li>
        <b>Interacción Pública</b>: 
        <ol type="a">
        {{ endif }}
    <li>
        Luego, cada ciudadano debe decidir cuánto de su dotación, desde <b>0 a {{ C.CITIZEN_ENDOWMENT }}</b>, contribuye al proyecto del grupo.
    </li>
    <li>
        Después de que todos los ciudadanos contribuyen al proyecto del grupo, la computadora suma las contribuciones y multiplica dicha suma por <b>{{ group.multiplier }}</b>:
        <div class="math-box">
            Recursos públicos totales = Contribución total × Multiplicador
        </div>
    </li>
    {{ if participant.treatment in ['BL2', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'] }}
        <li>
            Luego, el funcionario decide cómo distribuir los <b>recursos públicos totales</b> entre los tres ciudadanos.
        </li>
    {{ endif }}
    <li>La ronda termina y se calcula los pagos:</li>
    {{ if participant.treatment in ['BL1', 'BL2'] }}
    <ol type="a">
    {{ else }}
    <ol type="i">
    {{ endif }}
        <li>
            Para cada ciudadano, el pago se calcula de la siguiente forma:
            {{ if participant.treatment in ['BL1', 'T1'] }}
                <div class="math-box">        
                    Pago del ciudadano = Dotación - Contribución al proyecto del grupo + ( Recursos públicos totales / 3 )
                </div>

                <!-- Ejemplo mínima contribución -->
                <div class="example-box">
                    <b>Ejemplo 1 (Contribución mínima):</b><br>
                    Todos los ciudadanos contribuyen 0 puntos.<br>
                    Recursos públicos totales = (0 + 0 + 0) × {{ group.multiplier }} = <b>0</b><br>
                    Pago del ciudadano = {{ C.CITIZEN_ENDOWMENT }} - 0 + (0 / 3) = <b>100 puntos</b>
                </div>
                
                <!-- Ejemplo máxima contribución -->
                <div class="example-box">
                    <b>Ejemplo 2 (Contribución máxima):</b><br>
                    Todos los ciudadanos contribuyen 100 puntos.<br>
                    Recursos públicos totales = (100 + 100 + 100) × {{ group.multiplier }} = <b>600</b><br>
                    Pago del ciudadano = 100 - 100 + (600 / 3) = <b>200 puntos</b>
                </div>
                
            {{ else }}
                <div class="math-box">  
                    Pago del ciudadano = Dotación - Contribución al proyecto del grupo + Recursos públicos asignados por el funcionario
                </div>
            {{ endif }}
        </li>
        <li>
            El pago del funcionario será igual a su dotación inicial.
        </li>
    </ol>
</ol>
{{ if participant.treatment in ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'] }}
</ol>
</li>
{{ endif }}

<p>
    Es importante que permanezcas atento. La decisión sobre contribución al proyecto del grupo y de distribución de recursos públicos (según el rol que se te asigne) tienen tiempo límite. <b>Se penalizará las rondas donde no tomes una decisión</b> y la envíes dentro del tiempo límite. En dichas rondas, <b>recibirás cero puntos en tu pago de la interacción pública</b>.
</p>